body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header_navbar {
  background-color: #4267B2; /* Facebook blue */
  color: white;
  padding: 10px 0;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_brand {
  font-size: 24px;

}

.header_search {
  display: flex;
  align-items: center;
  
}

.header_search input {
  padding: 5px;

  margin-right: 5px;
  border-radius: 5px;
  border: none;
}

.header_search button {
  background-color: cornflowerblue;
  padding: 5px 10px;
 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.header_nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header_nav-links li {
  display: inline;
  margin-right: 10px;
}

.header_nav-links li a {
  color: white;
    text-decoration: none;
}

.header_nav-links li a:hover {
  text-decoration: underline;
}
